{{template "header"}}
<body>
	<section class="home">
		<div class="titles">
			<h1 class="main-title">login</h1>
			<form method="POST" action="/form/createuser">
				<ul class="Form">
					<li>
						<p class="form-titles">Username</p>
						<input type="text" placeholder="enter username">
					</li>
					<li>
						<p class="form-titles">Password</p>
						<input type="text" placeholder="enter password">
					</li>
					<li>
						<input type="submit" value="go">
					</li>
				</ul>
			</form>
		</div>
	</section>
</body>
{{template "footer"}}